
{% extends 'base.html' %}
{% block title %} Arte {% endblock %}

{% block content %}
<h3 class="playwrite-de-grund">Obras de Arte</h3>
         
<div class="row justify-content-center row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/HnGhmMmw/default-image-icon-missing-picture-page-vector-40546530.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/HnGhmMmw/default-image-icon-missing-picture-page-vector-40546530.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/HnGhmMmw/default-image-icon-missing-picture-page-vector-40546530.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://i.postimg.cc/HnGhmMmw/default-image-icon-missing-picture-page-vector-40546530.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="https://i.postimg.cc/HnGhmMmw/default-image-icon-missing-picture-page-vector-40546530.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://i.postimg.cc/HnGhmMmw/default-image-icon-missing-picture-page-vector-40546530.jpg" class="card-img-top" alt="...">
        </div>
      </div>
  </div>

{% endblock %}