{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}

{% block content %}
<!-- <div class="justify-content-center">
  
        <h3 class="playwrite-de-grund"> ¿Tenes una cuenta?
        <br>
            <a
            class="boton-nav" 
            href="#"
            > Iniciar Sesión</a> 
            &nbsp
            <a
            class="boton-nav"
            href="#"
            > Registrarse</a>
        </h3>
</div> -->

<h3 class="playwrite-de-grund">Este sitio es posible gracias a nuestros auspiciantes</h3>
         
{% endblock %}